<h2>Movie List</h2>
<section>
{{#each response}}
<p>{{title}}</p>
{{!-- <p>{{propellers}}</p>
<p>{{maxSpeed}}</p> --}}
{{!-- <a href="/drones/{{_id}}/edit">Edit</a> --}}
{{/each}}
</section>
<a href="/">Back to home!</a>